<header class="ej-header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1607884503/ejobis/ejober8_aua7kl.png);">
  <div class="ej-header__container">
    <h1 class="header-2"> eJobis, uma oportunidade única e fácil de conectar empresas com profissionais do mercado de trabalho.</h1>
    <h3 class="text">Você que procura um profissional, clique aqui e saiba mais!</h3>
    <%= link_to "<button>Registre-se</button>".html_safe, new_user_registration_path, class: "link link--cad" %>
  </div>
</header>
