<div class="ej-vantagens" id="vantagens">
  <h3 class="header-2">Vantagens</h3>
  <div class="ej-vantagens__container">
    <div class="ej-vantagens-card">
      <i class="fas fa-shield-alt"></i>
      <div class="ej-vantagens-card__infos">
          <h2 class="title">Segurança</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error quod minima illum quidem quia harum est, illo corporis molestias!</p>
      </div>
    </div>
    <div class="ej-vantagens-card">
      <i class="fas fa-stopwatch"></i>
      <div class="ej-vantagens-card__infos">
          <h2 class="title">Flexibilidade</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error quod minima illum quidem quia harum est, illo corporis molestias!</p>
      </div>
    </div>
    <div class="ej-vantagens-card">
      <i class="fas fa-file-invoice-dollar"></i>
      <div class="ej-vantagens-card__infos">
          <h2 class="title">Redução de Custos</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error quod minima illum quidem quia harum est, illo corporis molestias!</p>
      </div>
    </div>
    <div class="ej-vantagens-card">
      <i class="fas fa-chart-line"></i>
      <div class="ej-vantagens-card__infos">
          <h2 class="title">Redução de Custos</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error quod minima illum quidem quia harum est, illo corporis molestias!</p>
      </div>
    </div>
    <div class="ej-vantagens-card">
      <i class="fas fa-graduation-cap"></i>
      <div class="ej-vantagens-card__infos">
          <h2 class="title">Capacitação</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error quod minima illum quidem quia harum est, illo corporis molestias!</p>
      </div>
    </div>
    <div class="ej-vantagens-card">
      <i class="fas fa-user-md"></i>
      <div class="ej-vantagens-card__infos">
          <h2 class="title">Sistema de Plano de saude</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi error quod minima illum quidem quia harum est, illo corporis molestias!</p>
      </div>
    </div>
  </div>
</div>