.d-none {
  display: none;
}

.separator {
  max-width: 300px;
  margin: 60px auto;
  &--sm {
    @extend .separator;
    max-width: 12px;
  }
  &--md {
    @extend .separator;
    max-width: 45px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
