  <div class="icon">
    <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/security_ugyvif.png" />
    <div class="icon-infos">
        <h2>Segurança</h2>
        <p>garantindo os direitosdo trabalhador</p>
    </div>
  </div>
  <div class="icon">
    <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/flexibility_u1zs27.png" />
    <div class="icon-infos">
        <h2>Flexibilidade</h2>
        <p>em acordo com a demandado seu negócio</p>
    </div>
  </div>
   <div class="icon">
    <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/costs_nkj5ka.png" />
    <div class="icon-infos">
      <div>
        <h2>Redução de Custos</h2>
        <p>contratação on-demand</p>
      </div>
    </div>
  </div>
  <div class="icon">
      <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/performance_rcwly1.png" />
      <div class="icon-infos">
        <div>
          <h2>Redução de Custos</h2>
          <p>contratação on-demand</p>
        </div>
      </div>
    </div>
    <div class="icon">
        <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/capacitation_m3zkh2.png" />
        <div class="icon-infos">
          <div>
            <h2>Capacitação</h2>
            <p>contratação on-demand</p>
          </div>
        </div>
      </div>
     <div class="icon">
        <img src="https://res.cloudinary.com/numama/image/upload/v1607942699/ejobis/icones/health_p12umy.png" />
        <div class="icon-infos">
          <div>
            <h2>Sistema de Plano de saude para intermitente</h2>
            <p>contratação on-demand</p>
          </div>
        </div>
      </div>
