<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/numama/image/upload/v1607884503/ejobis/ejober8_aua7kl.png);">
  <div class="container">
    <h1> eJobis, uma oportunidade única e fácil de conectar empresas com profissionais do mercado de trabalho.</h1>
    <p>Você que procura um profissional, clique aqui e saiba mais!</p>
    <a class="btn btn-flat" href="#">Registrar</a>
  </div>
</div>
