 <%= render 'shared/banner' %>

  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(https://res.cloudinary.com/numama/image/upload/v1607920526/ejobis/company1_tibpez.png)">
      Empresa
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(https://res.cloudinary.com/numama/image/upload/v1607884602/ejobis/ejober5_xsasha.png)">
      e-Jober
    </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
          url(https://res.cloudinary.com/numama/image/upload/v1607920572/ejobis/maison1_alueni.png)">
      Particular
    </div>
  </div>

<div class="row">
  <div class="col-2">
    <div class="card-main">
      <h2>Flexibility</h2>
    </div>
  </div>
  <div class="col-2">
    <div class="card-main">
      <h2>Capacitação e treinamento unificados</h2>
    </div>
  </div>
   <div class="col-2">
    <div class="card-main">
      <h2>e-Jober</h2>
    </div>
  </div>
  <div class="col-2">
    <div class="card-main">
      <h2>Redução de Custos</h2>
    </div>
  </div>
  <div class="col-2">
    <div class="card-main">
      <h2>Variedade de contratos</h2>
    </div>
  </div>
  <div class="col-2">
    <div class="card-main">
      <h2>Variedade de contratos</h2>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-2">
      <div class="card-main">
        <h2>Performance avaliada continuamente</h2>
      </div>
    </div>
    <div class="col-2">
      <div class="card-main">
        <h2>integração e-social</h2>
      </div>
    </div>
     <div class="col-2">
      <div class="card-main">
        <h2>certificação digital</h2>
      </div>
    </div>
    <div class="col-2">
      <div class="card-main">
        <h2>Sistema de Palno de saude para intermitente</h2>
      </div>
    </div>
    <div class="col-2">
      <div class="card-main">
        <h2>tribunal único de justiça colaborativa</h2>
      </div>
    </div>
    <div class="col-2">
      <div class="card-main">
        <h2>Centro de Inteligencia</h2>
      </div>
    </div>
  </div>

</div>

