.cards {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  display: flex;
  justify-content: center;
  // flex-flow: row wrap;
  // <flex-direction> <flex-wrap>
  flex-wrap: wrap;
  // flex-wrap: wrap define que quando a soma da largura dos elementoa for maior que o tamanho do container, ele quebra a linha
  gap: 16px;
  a,
  .card-category {
    max-width: 320px;
    flex: 1 1 320px;
    /*
      flex-shrink: 1;
      flex-grow: 1;
      flex-basis: 0;
    */
  }
}




