
.icones {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.icon {
  overflow: hidden;
  //background: white;
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height:200px;
  width:200px;
}

.icon > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.icon h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.icon p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.icon .icon-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

